body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: white;
}

header img {
    height: 50px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 60px;
}

nav ul li:hover {
    text-decoration: underline 2px solid black;
}

header div i {
    font-size: 18px;
    margin-left: 12px;
}

main {
    padding-top: 60px;
    width: 100%;
}

.sec1 {
    /* season-hero */
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 40px;
    align-items: center;
    padding: 28px 50px;
}

.sec1_image {
    /* season-hero__image */
    width: 100%;
    height: auto;
    display: block;
}

.sec1_side {
    /* season-hero__panel */
    justify-self: start;
    align-self: center;
    padding-left: 6px;
}

.sec1_h2 {
    /* season-hero__kicker */
    /* margin: 0 0 18px 0; */
    font-size: 60px;
    /* font-weight: 2000; */
    line-height: 0.9;
}

.sec1_p {
    /* season-hero__lead */
    margin: 0 0 22px 0;
    max-width: 360px;
    line-height: 1.6;
    font-size: 16px;
}

.div_buttons {
    /* season-hero__actions */
    display: flex;
    gap: 18px;
    margin-top: 6px;
}

.button {
    /* btn btn-outline */
    display: inline-block;
    padding: 12px 60px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    color: black;
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
}

.slide {
    align-self: center;
    /* padding-left: 150px; */
    margin-left: auto;
    margin-right: auto;
}

.collection {
    /* icon-collection */
    width: 100%;
    text-align: center;

}

.collection_h {
    /* collection-heading */
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.cards_row {
    /* cards-row */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.card {
    text-align: center;
}

.card_image {
    background-color: white;
    padding: 20px;
}

.card_image img {
    width: 100%;
    height: 260px;
    object-fit: contain;
}

.card_image:hover {
    opacity: 0.75;
}

.card_title {
    font-size: 16px;
    font-weight: 500;
    margin: 16px 0 10px;
}

.price_details {
    font-size: 14px;
}

.price {
    font-weight: 700;
}

.old_price {
    text-decoration: line-through;
    color: #525050;
    margin-left: 8px;
}

.offer {
    display: block;
    margin-top: 6px;
    color: rgb(206, 65, 65);
    font-weight: 700;
}

.sale_banner {
    position: relative;
    display: inline-block;
    margin-top: 50px;
}

.sale_banner_image {
    width: 100%;
    height: auto;
    display: block;
}

.sale_banner_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 80%;
}

.sale_banner_text h2 {
    font-size: 30px;
}

.sale_banner_text p a {
    text-decoration: underline;
    color: black;
    padding-bottom: 10px;
}

.d-flex {
    display: flex;
}

.center {
    justify-content: center;
}

.sec2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 40px;
    align-items: center;
    padding: 28px 50px;
}

.sec2_image {
    /* season-hero__image */
    height: auto;
    display: block;
}

.sec1_image img,
.sec2_image img {
    width: 100%;
    height: auto;
}

.sec2_side {
    /* season-hero__panel */
    justify-self: start;
    align-self: center;
    padding-left: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.sec2_h2 {
    /* season-hero__kicker */
    /* margin: 0 0 18px 0; */
    font-size: 60px;
    /* font-weight: 2000; */
    line-height: 0.9;
}

.signup_banner {
    background-color: black;
    color: white;
    padding: 15px 125px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 25px;
}

.signup_banner h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.signup_btn {
    background-color: aliceblue;
    color: black;
    padding: 12px 150px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    border: none;
}

footer {
    background: rgb(250, 249, 249);
    padding: 40px 0 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.foot_row {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.foot_col {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.foot_col h4 {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 700;
    color: #666;
}


.foot_col a {
    text-decoration: none;
    color: #222;
    font-size: 14px;
}

.foot_col a:hover {
    text-decoration: underline;
}

.payment_logo {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.payment_logo img {
    height: 24px;
}

.footer_bottom {
    text-align: right;
    border-top: 1px solid rgb(192, 190, 190);
    margin: 40px auto 0;
    font-size: 14px;
    padding-top: 10px;
    padding-right: 100px;
}

.footer_bottom a {
    text-decoration: none;
    color: black;
}

.footer_bottom a:hover {
    text-decoration: underline;
}

.end {
    height: 20px;
    background-color: black;
}